.white-container {
    width: 420px;
    border: 1px solid #2980B9;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    display: inline-block;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container-posts {
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.avatar-image {
    height: 100%;
    width: 100%;
    display: block;
}

.user-info {
    font-size: 18px;
    margin-top: 10px;
}


.my-posts-title {
    text-align: center;

    margin-top: 20px;
}

.my-posts-title h2 {
    margin: 0;
}