
.login {
    width: 420px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #2980B9;
    background-color: #fff;
    border-radius: 8px;
}

.form-signin-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-top: 5px;
    box-sizing: border-box;
}

.login-button {
    width: 100%;
    font-size: 16px;
    background-color: #2980B9;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    height:42px;
    box-sizing: border-box;
}


.error_message {
    color: red;
    margin-top: 20px;
}
.form-control{
    border-radius: 8px;
    width: 100%;
}
.registration {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;

}
.error_message {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}




